.hyperdoc-page-title {
  font-size: 1.3em;
  font-weight: bold;
}
.hyperdoc-computed-value {
  text-decoration-line: underline;
  text-decoration-style: dashed;  
}
.hyperdoc-reference {
  text-decoration-line: underline;
  text-decoration-style: solid;  
}
.hyperdoc-reference:hover {
  background-color: #ddd;
}
