.hyperdoc-computed-value {
  text-decoration-line: underline;
  text-decoration-style: dashed;  
}
.hyperdoc-reference {
  text-decoration-line: underline;
  text-decoration-style: solid;  
}
.hyperdoc-reference:hover {
  background-color: #ddd;
}
.hyperdoc-error {
  color: red;
}
.lisp-source-code-file {
  font-size: 1.2em;
}
.hyperbook-page .code-snippet {
  font-size: 1.2em;
}
a::after {
  content: '';
  background-image: url("/hyperbook/icons/external-link.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center bottom;
  padding-right: 1.1em;
}
a[href*='wikipedia.org']::after {
  content: '';
  background-image: url("/hyperbook/icons/wikipedia.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center bottom;
  padding-right: 1.1em;
}
